<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8">
 <title> Local Attractions </title>
    <link rel = "stylesheet" type = "text/css" href = "/static/style.css" >
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Bungee%20Hairline' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Arbutus%20Slab' rel='stylesheet'>
</head>

<body>
	
      <div id="page">

		<h1> <br>hotel </h1> <h1 class="nd">Gioacchino</h1>
		
		<div id="nav">
			
			<form action="/" method="get"><button class="button">Homepage <i class="fa fa-home" aria-hidden="true"></i></button></form>
			
		</div>
	
	   </div>

	<div class="content1">	
<!--********************************************************************************
* The Norwich Castle description and the picture
* From https://en.wikipedia.org/wiki/Norwich_Castle
-->			
		<table>
		<tr>
		<td>
		<h2>The Norwich Castle</h2> 
		<p>Address: 24 Castle Meadow, Norwich NR1 3JU</p> 
	    <p>
		Norwich Castle is a medieval royal fortification in the city
		of Norwich, in the English county of Norfolk. In 1894, the 'Norwich Museum' moved 
		to Norwich Bastel and is now known as Norwich Castle Museum & Art Gallery,and holds
		significant objects from the region, especially archaeological
		finds and natural history specimens.</p>
		<p>This Hotel offers a guided tour in the castle at alower price if you book. Price:£8.50 for adults & £7.00 for kids.     BOOK NOW!</p>
		</td>
			
		<td>
		<img src="static/download1.jpg" alt="fist photo" class="imag"> 
		</td>
		</tr>
		</table>
		
	</div>
	
<!--********************************************************************************
* Bewilderwood description
* From https://en.wikipedia.org/wiki/Bewilderwood
* Picture 
* From: https://pt-br.facebook.com/BeWILDerwood/
-->		
	<div class="content1">
		
		<table>
			<tr>
			<td>
		<img src="static/second.jpg" alt="second photo">
			</td>

			<td>
		 <h2>Bewilderwood</h2> 
		<p>Address: Horning Road, Hoveton NR12 8JW</p>
        <p>
		BeWILDerwood is an adventure park for families located in 
		Horning,a parish in the English county of Norfolk.Self-described 
		as a "curious treehouse adventure,"
		the attraction is situated in a woodland area and features treehouses,
		rope bridges,slides,zip wires, a maze, and two special areas for 
		children under five
		called "Toddlewood-on-the-Hill" and "Toddlewood Valley."
		</p>
		<p>The hotel offers you a 10% discount if you choose to do it with us.   BOOK NOW!</p>
			</td>
			</tr>
		</table>
		
	</div>
		
	<div class="content1">
<!--********************************************************************************
* Felbrigg Hall description and picture
* From https://en.wikipedia.org/wiki/Felbrigg_Hall
-->			
		<table>
            <tr>		
			<td>
		<h2>Felbrigg Hall</h2>
		<p>Address: Felbrigg, Norwich NR11 8PR</p> 
		<p>
		Felbrigg Hall is a 17th-century English country house near the 
		village of that name in Norfolk.Part of a National Trust property,
		the unaltered 17th-century house  is noted for its Jacobean
		architecture and fine Georgian interior. Outside the house are a
		walled garden, an orangery and orchards. 
		</p>
			</td>
			
			<td>
		<img src="static/thirdd.jpg" alt="third photo" class="imag"> 
			</td>
			</tr>
		</table>
		
	</div>
	
	<div class="content1">
<!--********************************************************************************
* Theatre Royal, Norwich description and picture
* From https://en.wikipedia.org/wiki/Theatre_Royal,_Norwich
-->		
		<table>
		<tr>
			  <td>
		<img src="static/fourthh.jpg" alt="fourth photo" class="imag"> 
			  </td>

			  <td>
		 <h2>Theatre Royal, Norwich</h2>
		<p>Address: Theatre St, Norwich NR2 1RL</p> 
		<p>
		The Theatre Royal is an art-deco theatre in Norwich, Norfolk,
		England. It hosts a large range of touring productions.
		A traditional family pantomime is produced 
		in-house annually for
		the Christmas season each year. In addition, it regularly attracts
		a host of touring theatre productions.
		 </p>
			  </td>
		</tr>
		</table>
		
	</div>
	
	<div class="content1">
<!--********************************************************************************
*  Sainsbury Centre for Visual Arts description and picture
* From https://en.wikipedia.org/wiki/Sainsbury_Centre_for_Visual_Arts
-->		
	    <table>
		<tr>
			<td>
		<h2>Sainsbury Centre for Visual Arts</h2>
		<p>Address: University of East Anglia, Norfolk Rd, Norwich NR4 7TJ</p> 
		<p>
		The Sainsbury Centre for Visual Arts is an art gallery and
		museum located on the campus of the University of East Anglia,
		Norwich, England.  The building, which
		contains a collection of world art, was one of the first major
		public buildings to be 
		designed by the architects Norman Foster and  Wendy Cheesman,
		completed in 1978. 
		And for Marrvel fans this is a 'must go' place
		because in June 2014 the Centre was used for filming several
		scenes of the motion picture Avengers: Age of Ultron 
		and Ant-Man. </p>
			</td>
			
			<td>
		<img src="static/ffifth.jpg" alt="fifth photo" class="imag"> 
			</td>
		</tr>
		</table>

	</div>
		
		<div id="footer">
			<p>
				Address: Norwich Research Park, Norwich NR4 7TJ || Phone number: 074546545654 || Email: Gioacchino@email.com
			</p>
		</div>
		
		<!-- blank space at the bottom of the page -->
     <div id="blankSpace"></div>
		
</body>
</html>      	  
